@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cabin';
    background-color: #758190;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    --sidePadding: 1.2rem;
}

#tentacles {
    width: 50px;
}

#header {
    display: flex;
    background-color: lightblue;
    padding: 1rem;
    align-items: center;
}

.stats-container {
    display: flex;
    align-items: center;
}
.stats-container:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

.stats-card {
    background-color: #a8b0bc;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
}

/* My Features */

/* Logo */
#tentacles {
    transition: all 300ms;
    margin-right: 5px;
}
#tentacles:hover {
    transform: rotate(-15deg);
}

/* Back to top BTN */
.back-to-top-btn {
    position: fixed;
    bottom: 5px;
    right: 5px;

    text-align: center;
    font-size: 1rem;
    font-weight: bolder;

    background-color: rgb(114, 160, 175);
    color: white;
    border-radius: 5px;
    padding: .8rem;

    height: fit-content;

    user-select: none;
    text-decoration: none;

    filter: opacity(.6);
    transition: all 300ms;
}
.back-to-top-btn:hover {
    filter: none;
}

/* Desc Container */
#description-container {
    padding-left: var(--sidePadding);
    
    width: 100%;
    height: 380px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero-welcome {
    font-size: 3rem;
    margin: 0;

    width: fit-content;
}
.hero-purpose {
    font-size: 1.5rem !important;
}
.hero-text {
    font-size: 1.1rem;
    margin-top: 1rem;
}

/* Stats */
.stats-heading, h1 {
    margin: .5rem 0 .5rem 0;
    padding-left: var(--sidePadding);
}
.stats-card {
    padding: 1rem;
}
.stats-container {
    padding: 0 var(--sidePadding) 0 var(--sidePadding);
}
.stats-card h3 {
    margin-bottom: .8rem;
}

/* Our Games */
.our-games-heading {
    margin: 2rem 0 1rem 0;

    text-align: center;
}
.our-games-text {
    font-size: 1.2rem;
    text-align: center;

    padding-left: var(--sidePadding);
    margin-bottom: 1.2rem;
}
#button-container {
    margin-bottom: 1.2rem;
}
.btn:hover {
    transform: scale(1.02);
}
.btn:active {
    background-color: rgba(255, 255, 255, 0.709);
}

.game-card p {
    margin-bottom: .7rem;
}
.game-img {
    margin-bottom: .5rem;
}
.game-card > :first-child {
    font-weight: bolder;
    font-size: 1.2rem;

    margin-bottom: 1.2rem;
}