@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-color: #758190;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#tentacles {
    width: 50px;
}

#header {
    display: flex;
    background-color: lightblue;
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;

    padding-left: 2rem;
}

.stats-container {
    display: flex;
    align-items: center;
}
.stats-container:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

.stats-card {
    background-color: #a8b0bc;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
}

/* My Features */

/* Logo */
#tentacles {
    transition: all 300ms;

    margin-right: 5px;
}
#tentacles:hover {
    transform: rotate(-15deg);
}

/* Back to top BTN */
.back-to-top-btn {
    position: fixed;
    bottom: 5px;
    right: 5px;

    text-align: center;
    font-size: 1rem;
    font-weight: bolder;

    background-color: rgb(114, 160, 175);
    color: white;
    border-radius: 5px;
    padding: .8rem;

    height: fit-content;

    user-select: none;
    text-decoration: none;

    filter: opacity(.6);
    transition: all 300ms;
}
.back-to-top-btn:hover {
    filter: none;
}